@font-face {
    font-family: Meccanica;
    src: url(Assets/Meccanica-Regular.woff);
}
@keyframes fadein {
    0%      {opacity: 0;}
    20%     {opacity: 0.2;}
    40%     {opacity: 0.4;}
    60%     {opacity: 0.6;}
    80%     {opacity: 0.8;}
    100%    {opacity: 1;}
}
:root {
    --grey-o: rgb(255,255,240);
    --borderblend: rgb(0,0,0);
    --sky-40: rgba(24, 100, 100, 0.4);
    --sky-60: rgba(46, 121, 121, 0.6);
    --sky-80: rgba(54, 142, 142, 0.6);
}
html, body {
    font-family: Meccanica;
    color: black;

    width: 100%; /* take up full width */
    height: 100%; /* take up full height */
    position: fixed; /* don't scroll */
    top: 0; /* place at top of page */
    z-index: -99; /* place behind all content */
    margin: 0;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none; /* firefox remove scroll bar */
    -ms-overflow-style: auto; /* explorer remove scroll bar */

    background-color: var(--grey-o); /* use image as background */
    background-size: cover; /* fill full space */
    background-position: center;
}
::-webkit-scrollbar {
    display: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--sky-60);
    color: var(--grey-o);
}
li {
    float: left;
}
li a { 
    display: block;
    color: var(--grey-o);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Meccanica;

    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    transition: all 1s ease; 
    transition-duration: 1s;
}
li a:hover {
    background-color: var(--sky-80);
}
.headerbanner {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: auto;
    padding: 0;

    width: 100%;
    height: 10vw;
}
.titlediv {
    width: 66vw;
    margin: auto;
    padding: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.textdiv {
    width: 60vw;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.static-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    margin: auto;
    padding: 0;

    width: 100vw;
    height: auto;
    background-color: var(--grey-o);
}
.projectcard {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    color: var(--grey-o);

    background-position: center;
    background-size: cover;

    display: table;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.projectcard:hover, .projectcard:focus {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
.projectcard div {
    padding: 10px;
    display: table-cell; 
    vertical-align: middle;
}
#cards {
    position: relative;
    bottom: 10px;
    width: 66vw;
    height: 33vw;
    margin: auto;
    padding: 30px;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;

    overflow: visible;

    grid-template-columns: repeat( auto-fit, 250px );
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: -2;
}